.signupContainer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  margin-bottom: 25px;
  font-size: 14px;
}

.signInLink {
  color: #4b6bfb;
  font-weight: 500;
  cursor: pointer;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  
}


.input {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;

  /* --- The Trick Starts Here --- */
  background-image: linear-gradient(#4b6bfb, #4b6bfb); 
  background-size: 0% 2px; 
  background-position: 50% 100%; 
  background-repeat: no-repeat;
  transition: background-size 0.4s ease; 
}

.input:focus {
  outline: none; 
  background-size: 100% 2px; 
}

/*
  END OF FOCUS EFFECT
*/

.inputError {
  border-color: #dc3545 !important;
}

.nameRow {
  display: flex;
  gap: 15px;
}

.passwordWrapper {
  position: relative; 
  display: flex;
  align-items: center;
}

.passwordWrapper .input {
  width: 100%; 
  padding-right: 45px;
}

.togglePassword {
  position: absolute;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #888;
  font-size: 20px;
}

.errorMessage {
  color: #dc3545;
  font-size: 12px;
  margin-top: -10px;
}
.apiError {
  text-align: center;
  margin-top: 5px;
  width: 100%;
}
.agreeText {
  font-size: 13px;
  text-align: center;
  margin: 10px 0;
}
.agreeText .link,
.alreadyAccount .link {
  color: #4b6bfb;
  text-decoration: none;
}
.agreeText .link:hover,
.alreadyAccount .link:hover {
  text-decoration: underline;
}
.submitBtn {
  background-color: #516cf0;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
.alreadyAccount {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}
.alreadyAccount .link {
  cursor: pointer;
}

/* --- Responsive Adjustments --- */
@media (max-width: 992px) {
  .signupContainer {
    min-height: auto;
  }
}
@media (max-width: 576px) {
  .nameRow {
    flex-direction: column;
  }
}


