
.loginContainer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.loginTitle {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.createAccountPrompt {
  text-align: center;
  margin-bottom: 30px;
  font-size: 14px;
}

.createAccountLink {
  color: #fe8402;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.createAccountLink:hover {
  text-decoration: underline;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}


.formGroup input {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;

  /* The animated line using a background gradient */
  background-image: linear-gradient(#fe8402, #fe8402); 
  background-size: 0% 2px; 
  background-position: 50% 100%; 
  background-repeat: no-repeat;
  transition: background-size 0.4s ease;
}

.formGroup input:focus {
  outline: none; 
  background-size: 100% 2px; 
}

/*
  END OF FOCUS EFFECT
*/

.passwordInputWrapper {
  position: relative; 
  display: flex;
  align-items: center;
}

.passwordInputWrapper input {
  width: 100%;
  padding-right: 45px;
}

.passwordToggle {
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: #888;
  font-size: 20px;
}

.submitButton {
  background-color: #fe8402;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}
.submitButton:hover {
  background-color: #e57702;
}

.createAccountLinkBottom {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #fe8402;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.createAccountLinkBottom:hover {
  text-decoration: underline;
}

/* --- Responsive Adjustments --- */
@media (max-width: 992px) {
  .loginContainer {
    min-height: auto;
  }
}

